{% extends 'modele.html.twig' %}

{% block titre %}
	Liste de personnes |
	{{ parent() }}
{% endblock %}

{% block main %}
	<div class="w-100">
		<p>
        Who let the dog ou ?
        </p>
	</div>
{% endblock main %}
